<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>Test3</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>Forget_pwd.jsp</welcome-file>
    <welcome-file>Register.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
  </welcome-file-list>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>/css/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>/pics/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Authenification</display-name>
    <servlet-name>Authenification</servlet-name>
    <servlet-class>controllers.Authenification</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Authenification</servlet-name>
    <url-pattern>/Auth</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>Vue.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>controllers.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Home</display-name>
    <servlet-name>Home</servlet-name>
    <servlet-class>Vue.Home</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/Home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Forget_pwd</display-name>
    <servlet-name>Forget_pwd</servlet-name>
    <servlet-class>Vue.Forget_pwd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Forget_pwd</servlet-name>
    <url-pattern>/Forget_pwd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>Vue.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>profile</display-name>
    <servlet-name>profile</servlet-name>
    <servlet-class>Vue.profile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>profile</servlet-name>
    <url-pattern>/Profil</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>newproject</display-name>
    <servlet-name>newproject</servlet-name>
    <servlet-class>controllers.newproject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>newproject</servlet-name>
    <url-pattern>/newproject</url-pattern>
  </servlet-mapping>
</web-app>